/public/build/
node_modules
.env

.idea
**/node_modules/*
**/.firebase
**/.firebaserc
**/.runtimeconfig.json
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/firestore-debug.log
**/pubsub-debug.log
**/tsconfig-compile.json
yarn.lock