/* CSS for campforms */

#hot-resp-tbl
    width: 100vw
    display: table

#hot-resp-tbl-cap
    display: table-caption
    text-align: center
    font-size: 30px
    font-weight: bold

#hot-resp-tbl-hdr
    display: table-header-group
    background-color: grey
    font-weight: bold
    font-size: 25px

.hot-tbl-hdr-cell
    display: table-cell
    padding: 10px
    text-align: justify
    border-bottom: 1px solid black

#hot-resp-table-body
    display: table-row-group

.hot-resp-table-row
    display: table-row

.hot-tbl-body-cell
    display: table-cell



    
.hot-forms-tbl
    width: 70vw
    border: 0px solid black

    tr 
        th
            text-align: left

        td
            text-align: left