/* ***** Navigation bar styles ***** */
#navbar 
	background-color: #d8d8d8
	position: fixed	
	top: 0
	left: 4%
	width: 92vw
	display: block
	transition: top 0.3s
	overflow: auto
	z-index: 9999999999999

#navbar a  
	float: left
	display: block
	color: #1b1b1b
	text-align: center
	padding: 5px 15px 1px 15px
	text-decoration: none
	font-size: 25px

.nav-right
	float:  right

#navbar a:hover 
	background-color: #858585
	color: black

.logo-image
	width: 50px
	height: 50px
	border-radius: 5%
	overflow: hidden
	margin-top: -6px

.img-fluid
	width: 50px
	height: 50px

/* Mobile menu */
.hotMobNav
	display: none
	flex-direction: column
	font-size: 30px
	cursor: pointer
	z-index: 9999999

.hotOverlay
	height: 100%
	width: 0
	position: fixed
	z-index: 1
	top: 0
	left: 0
	background-color: rgb(0,0,0)
	background-color: rgba(0,0,0, 0.9)
	overflow-x: hidden
	transition: 0.5s

.hotOverlay-content 
	position: relative
	top: 25%
	width: 100%
	text-align: center
	margin-top: 30px

.hotOverlay a 
	padding: 8px
	text-decoration: none
	font-size: 36px
	color: #818181
	display: block
	transition: 0.3s

.hotOverlay a:hover, .hotOverlay a:focus 
	color: #f1f1f1

.hotOverlay .hotClosebtn 
	position: absolute
	top: 20px
	right: 45px
	font-size: 60px



@media screen and (max-width: 786px)
	#navbar
		display: none

	.hotMobNav 
		display: flex
    
	.hotOverlay a 
		font-size: 20px

	.hotOverlay .hotClosebtn 
		font-size: 40px
		top: 15px
		right: 35px
  
