.hot2-body
    display: block
    position: relative 
    background-color: rgb(0, 0, 0)
    background-image: linear-gradient(to bottom, gray, black)
   
.hot2-item
    position: relative
    margin: auto
    width: 90%
    top: 124px
    justify-content: center

.hot2-h1
    font-family: broadway
    font-size: 50px
    text-align: center
    color: rgb(255, 255, 255)

.hot2-gallery
    margin: auto
    border: 3px solid #fffefe
    float: left

    &:hover
        border: 3px solid #070670
        pointer-events: finger

.hot2-gallery img
    width: 300px
    height: 200px

.hot2-desc
    color: white
    text-align: center
    text-transform: capitalize

